# Node modules
node_modules/

# Build output
dist/
dist-electron/
release/
out/

# Local env files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# Vite
.vite/
